run = "bash run.sh"

modules = ["nodejs-20", "python-3.12", "web", "bash", "nix"]

# [
# env
# ]
# PATH = "/home/runner/${REPL_SLUG}/node_modules/.bin:$PATH"


[deployment]
run = ["sh", "-c", "bash deploy.sh"]
build = ["sh", "-c", "bash build.sh"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

