run = "bash run.sh"
modules = ["nodejs-20", "python-3.12", "web", "bash", "nix"]

[deployment]
run = ["sh", "-c", "bash run.sh"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

